body {
  background: #ffffff;
}

.odam {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(242, 252, 249);
  position: relative;
  padding: 100px 0;
  margin: 200px 0;
}

.katta {
  border-radius: 6px;
  border: 1px solid;
  border: none;
  margin-left: 250px;
}

.katta h1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 45px;

}

.katta p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;


}

.katta button {
  padding: 15px 25px;
  background: #c62828;
  border: none;
  border-radius: 6px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: white;
  cursor: pointer;

}

.image {
  width: 965px;
  position: absolute;
  left: 40%;
  bottom: 0px;
}