@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.varrak-footer {
  background: #f6fffd;
  padding: 60px 0;
}


.osmon-container {
  width: 1100px;
  max-width: 90%;
  margin: auto;
}


.parvoz-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.qanot-blok .sarlavha {
  margin-bottom: 15px;
  font-size: 16px;
  color: #000;
  font-family: 'Poppins';
}

.izoh-matn,
.havola {
  color: #021206;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}

.royxat {
  list-style: none;
}

.royxat li {
  margin-bottom: 10px;
}


.belgi-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.nom-belgi {
  font-size: 18px;
  color: #24DC9F;
}

.yulduz-nuqta {
  width: 26px;
  height: 26px;
  background: #4dd6b3;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.yulduzcha{
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}