h1 {
font-size: 50px;
font-family: sans-serif;
}

span {
color: aqua;
}

p {
font-size: 20px;
}

input {
width: 400px;
height: 65px;
border-radius: 6px;
font-size: 20px;
box-shadow: 0 0 10px;
}

button {
width: 120px;
height: 53px;
border-radius: 6px;
background-color: #F44545;
font-size: 18px;
color: white;
}

img.qwerty {
width: 600px;
height: 400px;
}

.box1 {
width: 100px;
height: 100px;
border-radius: 100%;
background-color: #FEDF8B;
left: 750px;
position: absolute;
top: 100px;
box-shadow: 0 0 20px;
}

.box {
width: 100px;
height: 100px;
border-radius: 100%;
background-color: #87D2BA;
left: 1180px;
top: 380px;
position: absolute;
box-shadow: 0 0 20px;
z-index: -1;
}