.h1plarniki {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1bb {
    font-size: 30px;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.plll {
    width: 753px;
    height: 57px;
    font-size: 18px;
    text-align: center;
}

.spp {
    width: 266px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 15px;
}

.kichiktort {
    width: 58px;
    height: 28px;
    border-radius: 6px;
}

.sppp {
    font-size: 18px;
}

.kichiktort {
    width: 58px;
    height: 28px;
    border-radius: 6px;
    background-color: #43DDAA;
    display: flex;
    align-items: center;
}

.kichik {
    width: 17px;
    height: 16px;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-left: 35px;
}

.input {
    width: 1146px;
    height: 74px;
    margin-left: 179px;
}

.cards .card1,
.card2,
.card3 {
    width: 361px;
    height: 604px;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 2;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.cards div * {
    margin-top: 20px;
}

.cards h3 {
    margin-top: 30px;
    text-align: center;
}

.cards ol {
    list-style: none;
    line-height: 30px;
    padding: 10px;
    padding-left: 20px;
}

.cards ol hr {
    width: 359px;
    margin-left: -20px;
}

.cards svg {
    margin-top: -10px;
}

.spnnj {
    margin-left: 100px;
}

.spnnjj {
    margin-left: 79px;
}

.spnnjjg {
    margin-left: 110px;
}

.spnnh {
    margin-left: 87px;
}

.lihi {
    text-decoration: line-through;
}

.dollor {
    font-size: 43px;
    margin-left: 155px;
    margin-bottom: -300px;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dollo {
    margin-left: 130px;
    font-size: 43px;
    margin-bottom: -300px;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.cards button {
    width: 239px;
    height: 60px;
    border-radius: 6px;
    margin-left: 60px;
    border: 2px solid;
    margin-top: 35px;
    cursor: pointer;
    border-color: pink;
    color: rgb(215, 90, 1);
    font-size: 20px;
}

.cards div:hover {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.6);
    border: none;
}

.cards button:hover {
    border: none;
    color: white;
    background-color: rgb(215, 90, 1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);

    /* transform: scaleX(1.5);
    transition: 0.5s; */

}

.cards button:active {
    background-color: red;
    text-decoration: line-through;
    box-shadow: 0px 0px 20px red;
}
.font{
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.cards img{
    width: 147px;
    height: 147px;
    top: 60px;
    left: 60px;
    
}