.main {

    width: 1000px;
    height: 690px;
    display: flex;
    margin: 0 auto;
}

.img {
    width: 1000px;
    height: 345px;
}

.imgstyle {
    width: 800px;
    height: 700px;

}

.h2 {
    line-height: 18px;
    font-weight: 700px;
    color: grey;
    font-family: sans-serif;
    width: 480;
    height: 87;
    margin-top: 100px;
    line-height: 30px;
}

.span {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    gap: 30px;
    color: black;
}

.style {
    font-weight: 200px;
    font-size: 40px;
    gap: 50px;
    line-height: 40px;
    color: black;
    width: 400px;
    font-family: sans-serif;
    line-height: 50px;
}